html, body {
    background-image: linear-gradient(to right, black 50%, rgb(214, 213, 213));
    opacity: 90%;
}

.intro-container {
    display: grid;
    justify-content: center;
    position: relative;
    left: 320px;
    color: white;
    border: none;
    border-radius: 100px;
    width: 850px;
    height: 72vh;
    text-align: center;
    top: 100px;
    box-shadow: 0 0 20px 0 white;
}

.heading-intro {
    padding-top: 20px;
    font-size: 60px;
    font-weight: 600;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.des-intro {
    position: absolute;
    font-size: 25px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    text-align: center;
    line-height: 1.8;
    padding: 13px;
    top: 170px;
}

button > a {
    color: white;
    text-decoration: none;
}

button {
    position: absolute;
    left: 630px; bottom: 150px;
    border: none;
    width: 250px;
    font-size: larger;
    font-weight: 550;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    border-radius: 75px;
    padding: 25px;
    margin-top: 200px;
    background-image: linear-gradient(to right, rgb(189, 27, 195), rgb(85, 11, 154));
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(to right, rgb(221, 97, 225), rgb(144, 79, 204));
    box-shadow: 0 0 8px 0 rgb(189, 27, 195);
}

.sec-btn:hover {
    background-image: linear-gradient(to right, rgb(221, 97, 225), rgb(144, 79, 204));
    box-shadow: 0 0 8px 0 rgb(189, 27, 195);
}

footer {
    position: absolute;
    bottom: 10px;
    opacity: 30%;
    font-size: 12px;
    color: white;
}

.footer {
    margin-top: 50px;
    opacity: 30%;
    font-size: 12px;
    color: white;
}

.start-end-container {
    position: relative;
    width: 75vw;
    height: 75vh;
    left: 165px; top: 80px;
    border: none;
    align-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 100px;
    box-shadow: 0 0 20px 0 white;
}

.des-sel {
    position: absolute;
    top: 50px; left: 300px;
    font-size: 40px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: white;
    font-weight: 600;
}

.start-end-container > select {
    color: white;
    margin: 35px;
    font-weight: 550;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: large;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 0 15px 0 purple;
    background-image: linear-gradient(to right, rgb(189, 27, 195), rgb(85, 11, 154));
}

.form-car {
    position: absolute;
    bottom: 60px; left: 400px;
    color: white;
    font-weight: 550;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: large;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 0 15px 0 purple;
    background-image: linear-gradient(to right, rgb(189, 27, 195), rgb(85, 11, 154));
} 

.form-car > option {
    background-color: rgb(43, 42, 42);
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;;
}

.start-end-container > select > option {
    background-color: rgb(43, 42, 42);
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;;
}

.express-container {
    position: relative;
    width: 700px;
    height: 82vh;
    border: none;
    border-radius: 100px;
    text-align: center;
    box-shadow: 0 0 20px 0 white;
    margin-top: 200px; margin-left: 400px;
}

.car-header {
    color: white;
    font-size: 40px;
    font-weight: 600;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    padding: 23px;
}

.car-data {
    color: white;
    font-size: 25px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: 550;
    line-height: 2;
}

.sec-btn {
    position: absolute;
    left: 235px; bottom: 27px;
    color: white;
    font-size: larger;
    font-weight: 550;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    border-radius: 75px;
    transition: box-shadow 0.3s ease;
}

.result-container {
    position: relative;
    top: 100px; left: 160px;
    width: 1200px;
    height: 45vh;
    border: none;
    border-radius: 100px;
    text-align: center;
    box-shadow: 0 0 20px 0 white;
}

.result-head {
    color: white;
    font-size: 35px;
    font-weight: 600;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    padding: 25px;
}

.estm-cost {
    position: absolute;
    left: 170px; bottom: 80px;
    width: 400px;
    padding: 30px;
    border: none;
    border-radius: 100px;
    box-shadow: 0 0 20px 0 rgb(189, 27, 195);
    color: white;
    font-size: 30px;
    font-weight: 550;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.note {
    color: rgb(241, 208, 236);
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: medium;
    text-align: center;
    margin-top: 180px;
}

.contact-us {
    position: absolute;
    bottom: 75px;
    margin-left: 150px;
    color: white;
    font-size: larger;
    font-weight: 550;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    border-radius: 75px;
    transition: box-shadow 0.3s ease;
}